<ion-view view-title="Purchase">
  <ion-content >
      <!--<ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
       </ion-refresher>-->
    <ion-list >
      <a class="item item-icon-left" href="#/tab/more/purchase/mytickets/">
				<img src="img/smallticket.png"
            style="
            height: 30px;
            position: absolute;
            left: 13px;
            top: 10px;"
        />
			    My Tickets
			</a>
			<a class="item item-icon-left" href="#/tab/more/purchase/pendingtickets/">
				<i class="icon icon-marker20" style="font-size: 20px; color: #F4462E;"></i>
			    Pending
			</a>
    </ion-list>
  </ion-content>
</ion-view>
