<ion-view view-title="Pending">
  <ion-content >
      <!--<ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
       </ion-refresher>-->

    <ion-infinite-scroll ng-show="loaded == false" on-infinite="placeHold()" distance="1%"  > </ion-infinite-scroll>

    <div style=" width:100%; text-align:center "  ng-show="loaded == true && pendingMovies.length == 0">
        <br />
        <img src="img/sademoji.jpg" style="height:200px; width:200px;" />
    </div>
    <div ng-show="loaded == true && pendingMovies.length == 0" style="width:100%; text-align:center;  color:#AEAEAE;" >There are no pending tickets</div>

   <!--
      images on pending
      adding the day on which you booked the tickest under pending and success
      on the view of the ticked put the date booked

    -->


    <div class="list" style="padding-left:0px;" ng-show="loaded == true && pendingMovies.length > 0" >
        <div
            ng-repeat="movie in pendingMovies"
            class="item item-thumbnail-left"
            style="
              border-top: none;
              margin-top: 10px;
              padding-bottom: 1px;
              overflow: visible;
              height: 140px;
              padding-left: 110px;
              background-color: #E6E6E6;
            ">
            <img
                ng-src="{{getImage('moviecover',movie.cover_photo )}}"
                style="max-height:140px; max-width:100px; width:100px; height:140px; padding-left:0px; left: 0px; top: 0px;"
                />
            <div style="max-width:80%; height:60px; overflow:hidden">
              <h2 style="color:#2C2C2C; white-space: normal;"><strong>{{movie.tittle}}</strong></h2>
            </div>
            <p style="padding-top: 5px;color: #9B9B9B;">({{movie.parental_control}}) {{movie.language}}</p>
            <p style="padding-top: 5px;color: #9B9B9B;">Running time: {{movie.movie_length_hour}}hr {{movie.movie_length_min}}hr</p>
            <a
               style="
                min-height: 60px;
                max-width: 60px;
                background-color: #BD2532;
                color: white;
                display: inline-block;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                right: 5px;
                top: 30px;
                position: absolute;
                text-align:center;
                padding-top: 20px;
                text-decoration:none;
                font-size:14px;
              ">
               <i class="ion ion-refresh" style="color:white; font-size:20px; "></i>
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
