<ion-view view-title="Gossip">
  <ion-content >
      <!--<ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
       </ion-refresher>-->
    <ion-list >

         <br />
        <div style=" width:100%; text-align:center " >
            <img src="img/sademoji.jpg" style="height:200px; width:200px;" />
        </div>
        <div  style="width:100%; text-align:center;  color:#AEAEAE;" >Under development</div>
    	
    </ion-list>
  </ion-content>
</ion-view>
