<div class="card"
    style="width:100%; margin-left: 0px; margin-right: 0px;  margin-top: 5px; margin-bottom: 0px !important;">
	 <a
         ng-hide="{{hideMyOwn}}"
         href="{{nf.newsfeedBusinessProfileLinkDomain + nf.id}}"
         class="item item-avatar "
         style="width:96% !important; border-bottom: 2px solid #E7E7E7; margin:auto; padding-bottom:0px !important;">
	    <img ng-src="{{getImage('logo',nf.business.logo )}}" style="margin-left:-12px; padding-bottom:0px !important; border-radius: 0px; ">
	    <h2 style="margin-left:-10px;">{{nf.business.name}}</h2>
	    <p style="margin-left:-10px; padding-bottom:0px !important;" >{{nf.business.address}}</p>
	  </a>

	  <a
        href="{{( (nf.user.id != user.id ) ? ('#/userprofile/' + nf.user.id) : ('#/myprofile/'+ nf.user.id) ) }}"
        class="item item-avatar"
        style="border-bottom: none; border-top: none;">
	    <img ng-src="{{getImage('avatar',nf.user.avatar)}}">
	    <h2>{{nf.user.name}}</h2>
	    <p style="font-size:12px; font-size:14px;">
            <span style="font-size:12px;">{{nf.user.reviews}} REVIEWS, {{nf.user.followers}} FOLLOWERS</span>
            <span style="float:right"> {{getRate(nf.cost, true)}}
                <i ng-repeat="i in rate.fill track by $index"  class="icon ion-social-usd" style="color:#31B645;"></i>
                <i ng-repeat="i in rate.stroke track by $index" class="icon ion-social-usd-outline" style="color:#31B645;"></i>
                {{rate.brief}}
            </span>
	    </p>
	    <p style="margin-left:-50px; width:120%; font-size:14px;">
            4 minutes ago {{Date(parseInt(nf.date)) }}
            <span style="float:right"> {{getRate(nf.good, false)}}
                <i ng-repeat="i in rate.fill track by $index" class="icon ion-star" style="color:#CE202A;"></i>
                <i ng-repeat="i in rate.stroke track by $index" class="icon ion-android-star-outline" style="color:#CE202A;"></i>
                {{rate.brief}}&nbsp;&nbsp;&nbsp;
            </span>
	    </p>
	  </a>

	  <!-- <div class="item item-image">
	    <img src="{{}}">
	  </div> -->
	  <div class="item item-body" style="border-top: none; padding-top:0px; border-bottom: none;">
	    <p style="margin-top:0px;">
	      {{nf.details}}
	    </p>
      </div>
      <div style="width:96%;height:2px; background-color:#E7E7E7;margin:auto;"></div>
      <div class="item tabs tabs-secondary tabs-icon-left tabs-color-dark" style="border:none !important; background:none;">
      <a ng-show="iLike(nf.id)" ng-click="unlike(nf.id)" class="tab-item" href="#" style="text-align: left; padding-left: 20px;">
	      
	      <i class="icon ion-thumbsup" style="color:#BE2633 !important;"></i>
	      <span style="margin-top: 22px;line-height: 12px;display: inline-block;">{{nf.likes.length}}&nbsp;Likes</span>
	    </a>
	    <a ng-show="!(iLike(nf.id))" ng-click="like(nf.id)" class="tab-item" href="#" style="text-align: left; padding-left: 20px;">
	      <i class="icon ion-thumbsup"></i>
            <span style="margin-top: 22px;line-height: 12px;display: inline-block;">{{nf.likes.length}}&nbsp;Likes</span>
	    </a>

	    <a class="tab-item" href="#/businessprofile/reviewcomment/{{nf.id}}">
	      <i class="icon ion-chatbox"></i>
            <span style="margin-top: 22px;line-height: 12px;display: inline-block;">{{nf.comments.length}}&nbsp;Comments</span>
	    </a>



	    <a class="tab-item" href="#"  style="text-align: right; padding-right: 20px; " ng-click="share(nf.id,nf.kind);">
	      <i class="icon ion-android-share-alt" ></i><span style="margin-top: 22px;line-height: 12px;display: inline-block;">Share</span>
	    </a>
	  </div>
</div>