<ion-view view-title="Users Profile" class="wrapper" >

   <ion-content  style="background-color:#E7E7E7">
       <!--<ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
       </ion-refresher>-->
       <div style="height:200px;text-align:center; background-color: white;"> 
            <img ng-show="thisUser.avatar == null || thisUser.avatar.length == 0" ng-src="{{getImage('local','img/avatar.png')}}" style="width:200px; height:200px; padding:0px; margin:0px; border:2px solid #eae7e7; border-radius:250px;" />
            <img ng-show="thisUser.avatar != null && thisUser.avatar.length > 0"  ng-src="{{getImage('avatar',user.avatar)}}" style="width:200px; height:200px; padding:0px; margin:0px; border:2px solid #eae7e7; border-radius:250px;" />      
            
       </div>
       <ul class="list" style="border-top: none; text-align:center; margin-bottom: 0px;">
            <li class="item" style="border-top: none;border-bottom: none;">
              <strong>{{thisUser.name}}</strong> <br />
              {{thisUser.city.name + ', ' + thisUser.city.country.name}}
            </li>       
        </ul>
       <div class="row" style="background-color:black;">
          <div class="col tabs-icon-top" style="background-color:black;width:15%;">
              <a class="tab-item" style="float:left;color:#CFCBC8;background-color:black">
                <i class="icon ion-ios-plus"></i>
                Follow
              </a>
          </div>
          <div class="col tabs-icon-top" style="background-color:black;width:15%;">
              <a class="tab-item" style="float:left;color:#CFCBC8;background-color:black">
                <i class="icon ion-ios-email"></i>
                Message
              </a>
          </div>
          <div class="col tabs-icon-top" style="background-color:black;width:15%;">
              <a href="#/tab/categories/addbusinessreview/{{business.id}}" class="tab-item" style="float:left;color:#CFCBC8;background-color:black">
                <i class="icon icon-reviews"></i>
                Reviews
              </a>
          </div>
          <div class="col tabs-icon-top" style="background-color:black;width:15%;">
              <a class="tab-item" style="float:left;color:#CFCBC8;background-color:black">
                <i class="icon ion-camera"></i>
                Photoes
              </a>
          </div>
        </div>
       
	    <a class="item item-icon-left item-icon-right" href="#" style="background-color:#E0E0E0;">
		    <i class="icon ion-information-circled"></i>
		    Information
            <span style="color:#9E9E9E; float: right;">MORE</span><i class="icon ion-chevron-right" style="color:#9E9E9E;"></i>
	    </a>
	    <a class="item item-icon-left" href="#" style="background-color:#E0E0E0;border-top:1px solid white;">
	    </a>

        <div class="list yammza" ng-repeat="nf in thisUser.reviews" style="margin-bottom: 2px;"  >
  		    <div ng-include src="(nf.kind == newsFeedKinds.review)?'templates/temp-newsfeed.html': 'templates/temp-newsfeedadd.html'"  ></div>
	    </div>
		
   </ion-content>
</ion-view>